@keyframes heroText {
    from {opacity: 0;}
    to {opacity: 1;}
  }
@keyframes heroSubText {
    from {left: -100%;}
    to {left: 0;}
  }


.hero{
    height: 600px;
    background-position: center;
    background-size: cover;
   
    .hero-overlay{

        padding: 0 35% 50px 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;    
        width: 100vw;
        height: 100%;
        background-color: rgba($color: #3A150B, $alpha: .9);
        color: #D9A532;
        text-align: left;
        position: relative;

        h1{
            font-size: 7em;
            color: #CF4B2D;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            line-height: .9;
            animation: heroText 3s;
        }

        p{
            font-size: 1.5em;
            position: absolute;
            bottom: 130px;
            max-width: 65%;
            animation: heroSubText .5s;
        }
    }
}