@keyframes heroText {
    from {opacity: 0;}
    to {opacity: 1;}
  }
@keyframes heroSubText {
    from {left: -100%;}
    to {left: 0;}
  }


.hero{
    height: 400px;
    background-position: center;
    background-size: cover;

    &.scale {
        display: none;
        }
   
    .hero-overlay{

        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;    
        width: 100vw;
        height: 100%;
        background-color: rgba($color: #3A150B, $alpha: .9);
        color: #D9A532;
        text-align: left;
        position: relative;

        h1{
            font-size: 3em;
            color: #CF4B2D;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            line-height: .9;
            animation: heroText 3s;
        }

        p{
            font-size: 1em;
            // position: absolute;
            // bottom: 130px;
            // max-width: 65%;
            animation: heroSubText .5s;
        }
    }
    @media (min-width: 768px) {
        height: 600px;

        .hero-overlay{
            padding: 0 35% 50px 100px;
            justify-content: center;    

            h1{
                font-size: 7em;
            }

            p{
                font-size: 1.5em;
            }
        }
    }
}