// @import '/assets/styles/_global.scss';

.header{
    height: 75px;
    width: 100vw;
    background-color: transparent;
    // padding-bottom: -75px;
    button{
        position: relative;
        z-index: 1000;
    }
}